.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

}

.fruit-pickers,
.form {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 15px;
}

.form fieldset {
    width: 400px;
    display: flex;
    flex-direction: column;
}

.form label {
    margin: 0.5rem;
}


.form input {
    width: 10rem;
}

.terms-label {
    margin: 0;
    display: flex;
}

.submit-btn {
    width: 30%;
    padding: 0.5rem 1rem;
}